<div class="banner-separador" id="queEs">
    <div class="container">
        <div class="tittle-container">
            <h2 class="tittle-separador">¿Qué es a un toque?</h2>
        </div>
    </div>
</div>

<div class="container">
    <p class="description">Es un app diseñada para facilitar la tramitación de causas en los Juzgados de Policía Local
    </p>
</div>

<div class="container function-container">
    <h3 class="function-tittle mobile">
        Colabora en un espacio de trabajo compartido.
    </h3>
    <div class="video-container">
        <video src="../../assets/videos/y2mate.com - The Ultimate Queen Medley Bohemian Rhapsody Dont Stop Me Now We Are the Champions etc_480p.mp4" controls loop poster="../../assets/img/escritorio_juez.jpg">
            Lo sentimos. Este vídeo no puede ser reproducido en tu navegador.
        </video>
    </div>
    <div class="function-description-container">
        <h3 class="function-tittle">
            Colabora en un espacio de trabajo compartido.
        </h3>
        <p class="function-description">
            Accede rápidamente a la información que componen todas las causas tramitadas en tu juzgado
        </p>
    </div>
</div>

<div class="container function-container">
    <h3 class="function-tittle mobile">
        Escritorio de trabajo por tipo de usuario.
    </h3>
    <div class="function-description-container">
        <h3 class="function-tittle">
            Escritorio de trabajo por tipo de usuario.
        </h3>
        <p class="function-description">
            En un juzgado, cada funcionario tiene tareas y roles específicos que cumplir; auntoque facilita esas tareas haciendo foco en aquellas relativas a cada rol.
        </p>
    </div>
    <div class="video-container">
        <video src="../../assets/videos/y2mate.com - The Ultimate Queen Medley Bohemian Rhapsody Dont Stop Me Now We Are the Champions etc_480p.mp4" controls loop poster="../../assets/img/escritorio_juez.jpg">
            Lo sentimos. Este vídeo no puede ser reproducido en tu navegador.
        </video>
    </div>
</div>

<div class="container function-container">
    <h3 class="function-tittle mobile">
        Almacena cada documento asociado a la una causa.
    </h3>
    <div class="video-container">
        <video src="../../assets/videos/y2mate.com - The Ultimate Queen Medley Bohemian Rhapsody Dont Stop Me Now We Are the Champions etc_480p.mp4" controls loop poster="../../assets/img/escritorio_juez.jpg">
            Lo sentimos. Este vídeo no puede ser reproducido en tu navegador.
        </video>
    </div>
    <div class="function-description-container">
        <h3 class="function-tittle">
            Almacena cada documento dentro su causa.
        </h3>
        <p class="function-description">
            Auntoque permite crear causas digitales con todos sus documentos asociados e indexados facilmente; desde la apertura de la causa hasta el archivo de la misma.
        </p>
    </div>
</div>

<div class="container function-container">
    <h3 class="function-tittle mobile">
        Listo para operar con firma digital
    </h3>
    <div class="function-description-container">
        <h3 class="function-tittle">
            Listo para operar con firma digital
        </h3>
        <p class="function-description">
            Auntoque sabe que la tramitación digital está cada día más cerca y está diseñado para incorporar facilmente los sistemas de firma digital simple y avanzada.
        </p>
    </div>
    <div class="video-container">
        <video src="../../assets/videos/y2mate.com - The Ultimate Queen Medley Bohemian Rhapsody Dont Stop Me Now We Are the Champions etc_480p.mp4" controls loop poster="../../assets/img/escritorio_juez.jpg">
            Lo sentimos. Este vídeo no puede ser reproducido en tu navegador.
        </video>
    </div>
</div>