@import '../../assets/sass/variables/variables'
@import '../../assets/sass/base/_mixin'
    
h2
    color: $c-titulo
    max-width: 80%
    text-align: center
    margin: 0 auto
    margin-top: 50px
    margin-bottom: 20px
    +md
        font-size: $f-xxxbig

p
    max-width: 80%
    margin: 0 auto
    text-align: center
    +md
        font-size: $f-normal
        max-width: 700px