<div class="banner-separador">
    <div class="container">
        <div class="tittle-container">
            <h2 class="tittle-separador">¿Qué es a un toque?</h2>
        </div>
    </div>
</div>

<div class="container">
    <p class="description">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rerum odio veniam dolor iure provident! Omnis similique voluptatem laborum ipsam, amet explicabo tempore veniam sunt </p>
</div>

<div class="container function-container">
    <h3 class="function-tittle mobile">
        Colabora en un espacio de trabajo compartido.
    </h3>
    <div class="video-container">
        <video src="../../assets/videos/y2mate.com - The Ultimate Queen Medley Bohemian Rhapsody Dont Stop Me Now We Are the Champions etc_480p.mp4" controls loop poster="../../assets/img/escritorio_juez.jpg">
            Lo sentimos. Este vídeo no puede ser reproducido en tu navegador.
        </video>
    </div>
    <div class="function-description-container">
        <h3 class="function-tittle">
            Colabora en un espacio de trabajo compartido.
        </h3>
        <p class="function-description">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rerum odio veniam dolor iure provident! Omnis similique voluptatem laborum ipsam, amet explicabo tempore veniam sunt amet
        </p>
    </div>
</div>

<div class="container function-container">
    <h3 class="function-tittle mobile">
        Escritorio de trabajo por tipo de usuario.
    </h3>
    <div class="function-description-container">
        <h3 class="function-tittle">
            Escritorio de trabajo por tipo de usuario.
        </h3>
        <p class="function-description">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rerum odio veniam dolor iure provident! Omnis similique voluptatem laborum ipsam, amet explicabo tempore veniam sunt amet
        </p>
    </div>
    <div class="video-container">
        <video src="../../assets/videos/y2mate.com - The Ultimate Queen Medley Bohemian Rhapsody Dont Stop Me Now We Are the Champions etc_480p.mp4" controls loop poster="../../assets/img/escritorio_juez.jpg">
            Lo sentimos. Este vídeo no puede ser reproducido en tu navegador.
        </video>
    </div>
</div>

<div class="container function-container">
    <h3 class="function-tittle mobile">
        Almacena cada documento dentro su causa.
    </h3>
    <div class="video-container">
        <video src="../../assets/videos/y2mate.com - The Ultimate Queen Medley Bohemian Rhapsody Dont Stop Me Now We Are the Champions etc_480p.mp4" controls loop poster="../../assets/img/escritorio_juez.jpg">
            Lo sentimos. Este vídeo no puede ser reproducido en tu navegador.
        </video>
    </div>
    <div class="function-description-container">
        <h3 class="function-tittle">
            Almacena cada documento dentro su causa.
        </h3>
        <p class="function-description">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rerum odio veniam dolor iure provident! Omnis similique voluptatem laborum ipsam, amet explicabo tempore veniam sunt amet
        </p>
    </div>
</div>

<div class="container function-container">
    <h3 class="function-tittle mobile">
        Funcionalidad 4
    </h3>
    <div class="function-description-container">
        <h3 class="function-tittle">
            Funcionalidad 4
        </h3>
        <p class="function-description">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rerum odio veniam dolor iure provident! Omnis similique voluptatem laborum ipsam, amet explicabo tempore veniam sunt amet
        </p>
    </div>
    <div class="video-container">
        <video src="../../assets/videos/y2mate.com - The Ultimate Queen Medley Bohemian Rhapsody Dont Stop Me Now We Are the Champions etc_480p.mp4" controls loop poster="../../assets/img/escritorio_juez.jpg">
            Lo sentimos. Este vídeo no puede ser reproducido en tu navegador.
        </video>
    </div>
</div>