@import '../../assets/sass/variables/variables'
@import '../../assets/sass/base/_mixin'

header
    // width: 100vw
    height: auto
    max-height: 600px
    min-height: 500px
    padding-top: 100px
    padding-bottom: 50px
    background-image: url(../../assets/img/imagen_de_portada.jpg)
    z-index: 50
    position: relative
    clip-path: ellipse(190% 65% at 40% 32%)
    background-image: url(../../assets/img/imagen_de_portada.png)
    background-size: cover
    background-position: center
    background-repeat: no-repeat
    +sm
        padding-left: 20px
        height: 100vh
        clip-path: ellipse(190% 65% at 40% 32%)
    +md
        background-position: center
        padding: 120px 30px 0 50px
        max-height: 800px
        clip-path: ellipse(190% 65% at 40% 32%)
    +lg
        background-position: right center
        clip-path: ellipse(100% 50% at 35% 40%)

    

    h1  
        color: white
        font-weight: 700
        max-width: 90%
        margin-bottom: 35px
        padding-bottom: 15px
        background-image: url(../../assets/img/puntos__tricolor.png)
        background-position: bottom right
        background-repeat: no-repeat
        display: inline-block
        +md
            font-size: $f-xxxbig
        +xl
            font-size: 55px

    p   
        color: white
        line-height: 1.7
        font-weight: 200
        +md
            max-width: 70%
            font-size: $f-big
        +xl
            max-width: 60%
            font-size: $f-xxbig
            
        &.bajada
            font-size: $f-xbig
            font-weight: 200
            line-height: normal

    button
        margin-top: 30px

    .separador__sup
        margin-top: 30px 