<header>
    <div class="container">
        <h1>Organiza tu Juzgado a un toque</h1>
        <p>Diseñado especialmente para la manera de trabajo en Chile, a un toque te permite realizar los tramites internos mucho más rápido y demanera colaborativa.</p>
        <button class="btn-lg btn-call btn-demo">Revisa la Demo &nbsp;&nbsp;></button>
        <button class="btn-lg btn-call btn-funciones">Revisa todas las funciones &nbsp;&nbsp;></button>
        <img src="../../assets/img/Header-2.jpg" alt="">
    </div>
</header>