<footer>
    <div class="container">
        <div class="logo-container">
            <img src="../../assets/img/Logo_auntoque_blanco.svg" alt="">
        </div>
        <div class="datos">
            <ul>
                <li>Rosario Norte 532 Of. 1703, Las Condes</li>
                <li>Fono: +56 2 7234 3412</li>
                <li>Contacto@auntoque.cl</li>
            </ul>
        </div>
    </div>
    <div class="container">
        <div class="otros">
            <ul>
                <a href=""><li>Seguridad</li></a>
                <a href=""><li>Condiciones del Servicio</li></a>
                <a href=""><li>Políticas de Privacidad</li></a>
            </ul>
        </div>
        <div class="redes">
            <ul>
                <a href=""><li><img src="../../assets/img/Facebook.svg" alt=""></li></a>
                <a href=""><li><img src="../../assets/img/Linkedin.svg" alt=""></li></a>
                <a href=""><li><img src="../../assets/img/Twitter.svg" alt=""></li></a>
            </ul>
        </div>
    </div>
    <div class="legales">
       <p>© Auntoque 2021. Todos los Derechos Reservados</p> 
    </div>
</footer>