<div class="banner-separador">
    <div class="container">
        <div class="tittle-container">
            <h2 class="tittle-separador">Contáctanos</h2>
        </div>
    </div>
</div>

<div class="container">
    <form action="">
        <label for="nombre" class="contact-label">
            Nombre
            <input id="nombre" type="text">
        </label>
        <label for="mail" class="contact-label">
            E-mail
            <input id="mail" type="email">
        </label>
        <label for="comuna" class="contact-label">
            Comuna
            <input id="comuna" type="text">
        </label>
        <label for="cargo" class="contact-label">
            Cargo
            <input id="cargo" type="text">
        </label>
        <label for="mensaje" class="mensaje-label">
            Mensaje
            <textarea name="mensaje" id="mensaje" cols="30" rows="4"></textarea>
        </label>
        <button class="btn-submit" type="submit">Enviar</button>
    </form>
    <div class="img-contacto">

    </div>
</div>