<h2 id="contacto">¿Quieres que trabajemos juntos? <br> ¡Hablemos!</h2>
<div class="contacto-img-container">
    <img class="contacto-img" src="assets/img/personal_administrativo.jpg" alt="personal administrativo">
</div>

<div class="formularios-container">
    <div class="container-contacto-1">
        <form action="">
            <h3>Contacto</h3>
            <label for="nombre" class="contact-label">
                Nombre
                <input id="nombre" type="text">
            </label>
            <label for="mail" class="contact-label">
                E-mail
                <input id="mail" type="email">
            </label>
            <label for="comuna" class="contact-label">
                Comuna
                <input id="comuna" type="text">
            </label>
            <label for="cargo" class="contact-label">
                Cargo
                <input id="cargo" type="text">
            </label>
            <label for="mensaje" class="mensaje-label">
                Mensaje
                <textarea name="mensaje" id="mensaje" cols="30" rows="4"></textarea>
            </label>
            <button class="btn-submit" type="submit">Enviar</button>
        </form>
    </div>
    
    <div class="container container-contacto-2">
        <h3>Otros canales de <br> comunicación</h3>
        <ul>
            <li><i class="fas fa-envelope"></i><br>  Contacto@auntoque.cl</li>
            <li><i class="fas fa-map-marker-alt"></i><br> Rosario Norte 532 Of. 1303, <br class="mobile"> Las Condes</li>
            <li><i class="fas fa-mobile-alt"></i><br> +56 2 2425 50 00</li>
        </ul>
    </div>
</div>