<nav id="nav">
    <div class="container">
        <div class="logo-container">
            <img src="assets/img/Logo_a_un_toque.svg" alt="">
        </div>
        <button class="navbar-toggler" (click)="abrirmenu()">
            <span class="navbar-toggler-icon">
                <i class="fas fa-bars"></i>
            </span>
        </button>
        <ul class="menu-items">
            <a class="" href=""><li> Servicio</li></a>
            <a href=""><li>Soporte</li></a>
        </ul>
        <a class="btn-demo" href="#">
            <button class="btn-md btn-call">Revisa la Demo &nbsp;&nbsp;></button>
        </a>
    </div>
</nav>