<nav id="nav">
    <div class="container">
        <div routerLink="/home" class="logo-container nav-item">
            <img src="assets/img/Logo_a_un_toque.svg" alt="">
        </div>
        <button class="navbar-toggler" (click)="abrirmenu()">
            <span class="navbar-toggler-icon">
                <i class="fas fa-bars"></i>
            </span>
        </button>
        <ul class="menu-items">
            <a routerLink="/Quienes-Somos" class="nav-somos nav-item"><li> Quienes Somos </li></a>
            <a href="#contacto" class="nav-contacto nav-item"><li> Contacto </li></a>
            <a class="nav-ayuda nav-item"><li>Ayuda Técnica</li></a>
        </ul>
        <a class="btn-demo" href="#">
            <button class="btn-md btn-call">Iniciar Sesión</button>
        </a>
    </div>
</nav>