@import '../../assets/sass/variables/variables'
@import '../../assets/sass/base/mixin'
    
nav
    width: 100vw
    min-height: 56px
    height: auto
    padding: 5px 20px
    box-shadow: $shadow
    display: flex
    justify-content: space-between
    background-color: white
    max-height: 80px
    transition: max-height 0.5s ease
    +md
        padding: 5px 40px
    

    .container
        display: flex
        justify-content: space-between
        align-items: center
        flex-wrap: wrap

        .logo-container
            padding-top: 7px
            padding-bottom: 3px
            cursor: pointer
            width: 180px

            img
                width: 100%

        ul.menu-items
            width: 100%
            display: none
            align-items: start
            justify-content: start
            flex-direction: column
            margin-right: auto
            padding: 5px 0
            padding-bottom: 10px
            list-style-type: none
            +lg 
                padding-bottom: 0
                display: flex
                width: auto
                flex-direction: row
                align-items: center
                justify-content: start

            li
                padding-left: 0
                margin-top: 20px
                +lg
                    margin-top: 0
                    padding-left: 40px

            li:first-child
                padding-left: 0
                margin-top: 5px
                +sm
                    margin-top: 10px
                +lg
                    margin-top: 0
                    padding-left: 40px
                    padding-bottom: 0

            
            a
                text-decoration: none
                color: $c-secundario
                font-size: $f-small
                padding-bottom: 10px
                +md
                    padding-bottom: 0

            .nav-somos
                color: $c-morado

            .nav-contacto
                color: $c-azulOscuro

        .btn-demo
            display: none
            +lg
                display: block
                position: relative

.navbar-toggler
    width: 40px
    height: 40px
    border: none
    background-color: rgba(220, 220, 220, 1)
    font-size: 1.3rem
    +lg
        display: none

.navAbierto
    max-height: 800px
    transition: max-height 0.5s ease

    .container .menu-items
        display: flex

.login-container
    width: 300px
    position: absolute
    background-color: white
    right: -50%
    bottom: -290px
    background-color: white
    display: none
    box-shadow: $shadow
    padding: 20px

    h5
        width: 100%

    p.error
        display: none

    form
        width: 100%
        display: flex
        flex-wrap: wrap
        align-items: flex-start
        justify-content: flex-end

        label
            width: 100%
            margin-top: 20px

            input
                width: 100%
                height: 40px
                padding: 5px
                font-size: 15px

                &.error
                    border: 1px solid red

    button
        background-color: $c-secundario
        border: none
        color: white
        padding: 10px 20px
        margin-top: 20px
        font-size: 18px
        border-radius: 20px
        margin-left: auto

        


.mostrar
    display: flex
    justify-content: flex-end
    flex-wrap: wrap
    animation: mostraOpacidad 0.5s ease


@keyframes mostraOpacidad
    0%
        opacity: 0
        
    100%
        opacity: 1
        