<nav id="nav">
    <div class="container">
        <div routerLink="/home" class="logo-container nav-item">
            <img src="assets/img/Logo_a_un_toque.svg" alt="">
        </div>
        <button class="navbar-toggler" (click)="abrirmenu()">
            <span class="navbar-toggler-icon">
                <i class="fas fa-bars"></i>
            </span>
        </button>
        <ul class="menu-items">
            <a routerLink="/Quienes-Somos" class="nav-somos nav-item"><li> Quienes Somos </li></a>
            <a href="#contacto" class="nav-contacto nav-item"><li> Contacto </li></a>
            <a routerLink="/Ayuda-Tecnica" class="nav-ayuda nav-item" ><li>Ayuda Técnica</li></a>
        </ul>
        <div class="btn-demo">
            <button (click)="abrirLogin()" class="btn-md  btn-call">Iniciar Sesión</button>
            <div id="form-login-container" class="login-container">
                <h5>Iniciar Sesión</h5>
                <p class="error">Usuario y/o Contraseña incorrecta</p>
                <form action="">
                    <label for="user">
                        Usuario
                        <input id="user" class="login-input" type="text">
                    </label>
                    <label for="password">
                        Contraseña
                        <input id="password" class="login-input" type="password">
                    </label>
                </form>
                <button (click)="errorLogin()">Ingresar</button>
            </div>
        </div>
    </div>

</nav>