// tipografia
$karla: 'Karla', sans-serif

// colores
$c-principal: #011559
$c-secundario: #005FAB

$c-titulo: #005FAB
$c-parrafo: #1B2437


// sombras
$shadow: 0 5px 15px rgba(0, 0, 0, 0.3)


// font size
$f-xsmall: 12px
$f-small: 16px
$f-normal: 20px
$f-big: 25px
$f-xbig: 30px
$f-xxbig: 40px
$f-xxxbig: 45px