// tipografia
$karla: 'Karla', sans-serif

// colores
$c-principal: #011559
$c-secundario: #005FAB

$c-titulo: #005FAB
$c-parrafo: #1B2437

$c-azul: #005FAB
$c-morado: #4A1971
$c-azulOscuro: #0C2372
$c-celeste: #0090DF
$c-verde: #227C26
$c-rosado: #D8006B


// sombras
$shadow: 0 5px 15px rgba(0, 0, 0, 0.3)


// font size
$f-xsmall: 12px
$f-small: 16px
$f-normal: 20px
$f-big: 25px
$f-xbig: 30px
$f-xxbig: 40px
$f-xxxbig: 45px