<div class="header-somos">
    <div class="container">
        <h2>¿Quiénes somos?</h2>
        <p>Somos un equipo de profesionales altamente competentes y de valiosa experiencia en áreas Legales, Gestión del Conocimiento, Ingeniería, Diseño, Educación Digital y Tecnología que nos permite abordar los proyectos con una mirada multidimensional, práctica y orientada a los requerimientos del cliente con resultados de primer nivel.</p>
        <div class="iso-container">
            <img src="assets/img/isotipo-blanco.svg" alt="">
        </div>
    </div>
</div>